<footer class="page-footer indigo darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">The Education Collective</h5>
        <p class="grey-text text-lighten-4"><i class="material-icons left">location_on</i>701 N Econlockhatchee Trail, Orlando, FL 32825</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/resources">Resources</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2022 The Education Colective
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
</body>



</html>