<%- include('./partials/header') %>
  <main>
    <br>
    <br>
    <div style="margin-left: 15%; margin-right:15%;" class="construction">
      <h1>About TEC</h1>
      <h2>
      The Education Collective came together as a class project and morphed into a fully functioning 
      collection of tutoring websites so that those needing help in school, or just interested in a new topic, 
      can find and easy, free, and/or cheap website, to pursue a passion. <br><br>
      
      Managed by Todd Uhl, and leads, Dominique Raymond and Andrew Dimes, 
      our Documentation and Development Teams came together and delivered a product we can be proud of, and offer access to the most available tools to improve peoples learning.  
      For any questions, feel free to <a href="/contact">contact us</a>.
      </h2> 
    </div>
    <br>
    <br>
  </main>
  <%- include('./partials/footer') %>