<%- include('./partials/header') %>
  <main>
    <br>
    <br>
    <br>
    <div style="margin-left: 10%; margin-right:10%;" class="construction">
      <h1>Contact Us</h1>
      <h2>Thank you for your interest in our site. <br> You can contact us via email at 
        <a href="mailto:Contact@theeducatincollective.com">Contact@theeducatincollective.com</a>.</h2>
    </div>
    <br>
    <br>
    <br>
  </main>
  <%- include('./partials/footer') %>