<%- include('./partials/header') %>
  <main>
    <br>
    <br>
    <div style="margin-left: 10%; margin-right:10%;" class="construction">
      <h1>Welcome to TEC, The Education Collective.</h1>
      <h3>  
        Here we provide many resources for students of all backgrounds, young and old, new and experienced learners, to educate and enrich their lives. <br><br>
         We have compiled multiple and mostly free sites for students or learners to be able to continue their passion for education, reinforce lessons learned in class, or as a digital 
         method of tutoring. <br><br> We look forward to anyone exploring our website, and hopefully finding something that suits your needs.  
        We can’t imagine that anyone will be disappointed. While here, feel free to learn more about us, or contact us via email on our contact page.</h3>
    </div>
    <br>
    <br>

  </main>
  <%- include('./partials/footer') %>